<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Cadastro de Concessionaria's</title>
    <meta charset="utf-8">
    <meta name="author" content="UniversalDevs">
    <meta name="description" content="Cadastrar Concessionarias">
    <link rel="stylesheet" type="text/css" href="cadastroConcessionaria.css" media="screen"> <!--vinculando arquivo css. -->
</head>
<body>
    <h1> Cadastro de Concessionaria</h1>
    <div id="form_concessionaria">
        <form action="http://google.com/search" method="get" target="_blank">  
          <!--  Nome: <input type="text" name="nome" target="_blank">
            Endereço: <input type="text" name="end">
            Cidade: <input type="text" name="cidade">
            Estado: <input type="text" name="estado">
            CEP: <input type="text" name="cep">
            Caixa Postal: <input type="text" name="caixa_postal">
            CNPj: <input type="text" name="cnpj">
            I.E: <input type="text" name="ie">
            Inscrição Unica Reg. Esp. Processo: <input type="text" name="insc">
            <input type="submit" value="CADASTRAR"><!--botão--> 

    
            <fieldset class="grupo">  <!--agrupa elementos dentro de um formulario web-->

                <div class="Nome" id="Nome">
                    <label for="nome"><strong>Nome</strong></label> <!--STRONG deixa em negrito-->
                    <input type="text" name="nome" id="nome" required> <!--required é ora qnd esse campo tem que ser preenchido para poder enviar o formulario, obrigatorio-->
                </div>

                <div class="campo" id="End"> 
                    <label for="end"><strong>Endereço</strong></label>
                    <input type="text" name="end" id="end" required>
                </div>
    
                <div class="campo" >
                    <label for="cidade"><strong>Cidade</strong></label>
                    <input type="text" name="cidade" id="cidade" required>
                </div>

                <div class="campo"> 
                    <label for="estado"><strong>Estado</strong></label>
                    <input type="text" name="estado" id="estado" required>
                </div>

                <div class="campo"> 
                    <label for="cep"><strong>CEP</strong></label>
                    <input type="text" name="cep" id="cep" required>
                </div>

                <div class="campo"> 
                    <label for="cx_postal"><strong>Caixa Postal</strong></label>
                    <input type="text" name="cx_postal" id="cx_postal" required>
                </div>

                <div class="campo"> 
                    <label for="cnpj"><strong>CNPJ</strong></label>
                    <input type="text" name="cnpj" id="cnpj" required>
                </div>

                <div class="campo"> 
                    <label for="ie"><strong>I.E</strong></label>
                    <input type="text" name="ie" id="ie" required>
                </div>

                <div class="campo"> 
                    <label for="insc"><strong> Inscrição Unica Reg. Esp. Processo</strong></label>
                    <input type="text" name="insc" id="insc" required>
                </div>

             </fieldset>
             <button class="botao" type="submit" onsubmit="">CADASTRAR</button>
        </form>















        



























































    </div>
</body>
</html>
